{% extends "/layout/sub/single_column.html" %}

{% from "/macros/common.html" import renderInlineList, renderList %}
{% from "/macros/review.html" import render_review %}
{% from "/macros/nav.html" import pagination %}
{% from "/macros/modal.html" import modal_render %}



{% block content_medium %}

{% set member = group in current_user.groups %}

<div class="card pb-0" id="group_profile">
    <div class="card-header">
        <div class="row justify-content-between">
            <div class="col-8 col-md-6 align-self-center">
              <h4>Profile Information</h4>
            </div>
            <div class="col-3 col-md-2 align-self-center">
              <div class="row justify-content-center">            
                {% if current_user.id == group.admin_id %}
                      <a
                        href=""
                        data-toggle="modal"
                        data-target="#groupUpdateForm"
                        v-b-tooltip="{ title:'Edit profile', disabled:isMobile }">
                        <i
                          class="material-icons card-header-item">
                          edit
                        </i>
                      </a>
                {% elif not member %}
                    <a href="{{url_for('relationship.groupadd', id=group.id)}}" class='btn btn-md btn-light float-right' role='button'>Join</a>
                {% endif %}
              </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        {# Only show group members if user is group member #} 
        <dl class="row">
                {{ renderInlineList("Name", (group.name))}}
                {{ renderInlineList("Description", group.description)}}
                {% if member %}
                    {{ renderInlineList("Admin - name", 
                    group.admin.first_name + " " + group.admin.last_name)}}
                {% else %}    
                    {{ renderInlineList("Admin - username",
                                            group.admin.username) }}
                {% endif %}                    
        </dl>
    </div>
</div>
    <br>
{% if member %}    
    <div class="card">
        <div class="card-header p-2">
            <h4 class="text-left"> Group Members </h4>
        </div>
        <div class="card-body pb-0">
            <ul>
                {% for member in group.members %}
                <li> <a href="{{url_for('main.user', username=member.username)}}">
                    {{ member.full_name}} </a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
     <br>
{% endif %}

{% if reviews %}
    <h3>Recent Reviews</h3>
    <br>
    {%for review in reviews %}
        {{render_review(review, current_user)}}
        <br>
    {% endfor %}

    {{pagination(pag_urls)}}

{% endif %}

{% endblock %}

{% block content_wide %}


{% endblock %}

{% block modal %}
    {% if modal_open %}
        <script>$(window).on('load', function(){
            $("#modal_id").modal('show');
        });
        </script>
    {% endif %}

    {% set url = url_for('relationship.groupUpdate') %}
    {% if modal_form %}
        {{modal_render(modal_form, modal_title, action=url, modalID="groupUpdateForm")}}
    {% endif %}

    <modal-form-wrapper
    modal_id="message-modal"
    :form_presets="form_presets.user_message"
    :url="urls.send_user_message"
    title="Send Message:">
        <template v-slot:default="fp">
            <form-usermessage
                form_id="usermessage_form"
                :form_presets="fp.form_presets"
                :reset_form_values="fp.reset_form_values"
                :set_form_values="fp.set_form_values"
                :url="fp.url"
                @form_is_set="fp.mark_form_set"
                @form_is_reset="fp.mark_form_reset"
                @form_is_submitted="fp.do_hide_modal">
            </form-usermessage>
        </template>
    </modal-form-wrapper>    

{% endblock%}



{% block jsScripts %}
    
    <script>
        let csrf = "{{ csrf_token() }}"
    </script>
    
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>


{% endblock %}
