{% extends "/layout/sub/single_column.html" %}

{% from "/macros/form.html" import field_render, render_errors %}
{% from "/macros/group.html" import renderGroupShort %}
{% from "/macros/nav.html" import pagination %}


{% block content_narrow_form %}

<div id="app">
    <form action="{{url_for('relationship.groupSearch')}}" id="groupSearchForm" method="get">
        <div class = "form-group row">
            <div class = "col">
                {{ form.name.label() }}
                {{ form.name(type="hidden", **{'v-bind:value':'form.name'} ) }}
                <vue-bootstrap-typeahead
                    id="name_typeahead"
                    v-bind:data="typeahead.suggestions"
                    v-model="form.name"
                    v-bind:serializer="suggestionSerializer"
                    placeholder="Enter name of group..."
                    @hit="typeahead.selected = $event"/>
                {{ render_errors(form.name) }}
            </div>
        </div>  
        {{ field_render(form.submit)}}
        <a href="{{url_for('relationship.group_create')}}">Create New Group</a>
    </form>
    <br>
    <div class="row justify-content-center">
        <h3>Group Search Results</h3>
    </div>
    <div class="list-group">
        {% set joinUrl = url_for('relationship.groupadd') %}
        {% for group in groups %}
            {{renderGroupShort(group, current_user, joinUrl, addForm)}}

        {% endfor %}
    </div>
        {{pagination(pag_urls)}}
    <br>
</div>


{% endblock %}




{% block jsScripts %}

<script>

    let links = {
        autocomplete: "{{ url_for('relationship.groupSearchAutocomplete') }}"
    }
    </script>
    
    
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>


{% endblock %}



