{% extends "/layout/sub/single_column.html" %}

{% from "/macros/form.html" import field_render, form_render %}
{% from "/macros/nav.html" import pagination %}
{% from "/macros/provider.html" import render_provider_alt %}


{% block full %}

{% endblock %}

  
{% block content_narrow_form %}
    <div class="row">
    <h3>Search for Business</h3>
        <ul class="nav">
            <a class="nav-link" href="{{url_for('main.provider_add')}}">(Add new provider)</a>
        </ul>
    </div>

    <form action="{{url_for('main.search')}}" method="get" id="providersearch">
        {{ field_render(form.location, **{'v-model':'form.location'}) }}
        <div class = "form-group row"
          v-show="showManualLocation"
          id="manual_location">
            <div class = "col">
                {{ form.manual_location.label() }}
                {{ form.manual_location(class_="form-control",
                   **{'v-model':'form.manual_location'}) }}
            </div>
        </div>
        {{ form.gpsLat(**{'v-model':'form.gpsLat'} ) }}
        {{ form.gpsLong(**{'v-model':'form.gpsLong'} ) }}
        {{field_render(form.searchRange, **{'v-model':'form.searchRange'})}}
        {{field_render(form.sector, **{'v-model':'form.sector', '@change':'updateCategory'})}}
        {{field_render(form.category, **{'v-model':'form.category'})}}
        <div class = "form-group row">
            <div class = "col">
                {{ form.name.label() }}
                {{ form.name(type="hidden", **{'v-bind:value':'form.name'} ) }}
                <vue-bootstrap-typeahead
                    id="name_typeahead"
                    v-bind:data="typeahead.suggestions"
                    v-model="form.name"
                    v-bind:serializer="b => b.name"
                    placeholder="Enter name of business..."
                    @hit="typeahead.selected = $event"/>
            </div>
        </div>        
        <!-- form filters -->
        <fieldset class="form-group">
            <legend class="col-form-label">Check to filter reviewed by:</legend>
                <div class="form-check form-check-inline">
                    {{form.reviewed_filter(class_="form-check-input")}}
                    {{form.reviewed_filter.label(class_="form-check-label")}}
                </div>
                <div class="form-check form-check-inline">
                    {{form.friends_filter(class_="form-check-input")}}
                    {{form.friends_filter.label(class_="form-check-label")}}
                </div>
                <div class="form-check form-check-inline">
                    {{form.groups_filter(class_="form-check-input")}}
                    {{form.groups_filter.label(class_="form-check-label")}}
                </div>
        </fieldset>
        <!-- form sorts -->
        {{field_render(form.sort)}}
        {{field_render(form.submit)}}
    </form>
    
    <br>
{% endblock %}  

{% block content_medium %}

    {% if providers and providers != none %}
  
        <div class="row">
            <div class="d-flex flex-column w-100 align-items-center list-group">
                <h5>Search Review Summary Statistics</h5>
                <div class="d-flex flex-row w-100 justify-content-around">
                        <p class="list-inline-item flex-wrap"># Reviews: {{summary.count }}</p>
                        <p class="list-inline-item flex-wrap">Avg Rating: {{summary.average | round(2) }}</p>
                        <p class="list-inline-item flex-wrap">Avg Cost: {{summary.cost | round(2) }}</p>
                </div>
            </div>
        </div>

        <br>
        <div class="row justify-content-end mx-2">
            <button 
                class="btn btn-link"
                id="viewOnMap"
                type="button"
                v-on:click="renderMap">
                View Map
            </button>
            <div class="row justify-content-end mx-2">
                <button
                  class="btn btn-link"
                  id="viewList"
                  type="button"
                  v-on:click="map.show=false">View List</button>
            </div>
        </div>
        
        <div id="list_items" v-show="!map.show">
            {%for provider in providers %}
                {{render_provider_alt(provider, reviewFilter)}}
                <br>
            {% endfor %}
        </div>

    {% endif %}
    <!-- <div id="mapView"> -->
        <keep-alive>
            <map-view
                v-if="map.show"
                id="mapContainer"> 
                <!-- <p> where map should go</p>     -->
            </map-view>
        </keep-alive>
        <!-- </div> -->
   
    
    {% if pag_urls %}
        {{ pagination(pag_urls) }}
    {% endif %}    
    
{% endblock %} 
        
{% block content_wide %}

{% endblock %}

{% block jsScripts %}

<script> 
    let links = {
        autocomplete: "{{ url_for('main.providerAutocomplete') }}",
        categoryList: "{{ url_for('main.category_list') }}",
    };
    let [searchResults, mapCenter] = [{}, {}];
    {% if locationDict and providersDict %}

        mapCenter = {{ locationDict|safe|tojson }};
        mapCenter = JSON.parse(mapCenter);
        let providersDict = {{ providersDict|safe|tojson }};
        searchResults = JSON.parse(providersDict);
    
    {% endif %}
    
</script>

<!-- link to ArcGis map API -->
<!-- <link rel="stylesheet" href="https://js.arcgis.com/4.12/esri/themes/light/main.css">
<script src="https://js.arcgis.com/4.12/"></script> -->

<!-- <script src="{{ url_for('static', filename='dist/vendors~search.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='dist/search.bundle.js') }}"></script> -->
<!-- <script type="module" src="{{ url_for('static', filename='search_vue.js') }}"></script> -->

<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>

{% endblock %}

