{% extends "/layout/sub/single_column.html" %}

{% from "/macros/form.html" import field_render %}

{% block content_narrow %}
<div id="app">
  <form-register
    :form_presets="form_presets"
    :form_errors="form_errors"
    :url="urls.register"
    :set_form_values="set_form_values"
    @form_is_set="mark_form_set"/>
</div>
{% endblock %}

{% block jsScripts %}
<script>

  let form_values = {{ form_values | safe }}
  let form_errors = {{ form_errors | safe }}
  let urls = {register: "{{ url_for('auth.register') }}"}


</script>

<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>

{% endblock %}




