{% extends "/layout/sub/single_column.html" %}

{% from "/macros/common.html" import renderInlineList, renderList %}
{% from "/macros/nav.html" import pagination %}
{% from "/macros/review.html" import render_review %}
{% from "/macros/modal.html" import modal_render %}

{% block content_narrow_form %}

<div class="card" id="user_profile">
    <div class="card-header p-2">
        <h4 class="text-center">Profile Information
        <small><a href="" 
            data-toggle="modal"
            data-target="#message-modal"
            data-id="{{ user.id }}"
            data-name="{{ user.full_name }}"
            @click="setFormPresets">(message)</a></small>
        {% if user == current_user %}    
        <small><a href="" data-toggle="modal" data-target="#modal_id">(edit)</a></small>
        {% endif %}

        </h4>
    </div>
    <div class="card-body">
        {# Only show user info if user is current user or friend/groups #}
        {% set common_groups = user.groups|select('in', current_user.groups)|list %}  
        {% set related = user in current_user.friends or user == current_user or common_groups|length > 0 %}

        {% if related %}
            <dl class="row">
                    {{ renderInlineList("Name", (user.full_name))}}
                    {{ renderInlineList("Username", user.username)}}
                    {{ renderInlineList("Email", user.email)}}
                    {{ renderInlineList("Address", renderList(["card-item", "card-item py-1 px-0"], user.address.line1,
                                                            user.address.line2,
                                                            ([user.address.city,
                                                            user.address.state.state_short,
                                                            user.address.zip]
                                                            |join(', '))
                                                            ))}}                            
            </dl>
        {% else %}
            <dl class="row">
                    {{ renderInlineList("Username", user.username)}}                          
            </dl>
        {% endif %}

        {% if user == current_user %}
            <br>
            <h4 class="text-center">Password</h4>
            <dl class="row">
                {% set pwd_date = user.password_set_date %}
                {{ renderInlineList("Last Updated", '%s-%s-%s'|format(pwd_date.month, pwd_date.day, pwd_date.year))}}
            </dl>
            <p class="card-item text-center">
            <a href="" data-toggle="modal" data-target="#modal_password">Click to update password</a></p>
        {% endif %}
    </div>
</div>

        <br>
<div class="card">
    <div class="card-header p-2">
        <h4 class="text-center"> Review Summary </h4>
    </div>
    <div class="card-body pb-0">
        <dl class="row">
            {{ renderInlineList( "# Reviews", summary.count)}}
            {% if reviews|length > 0 %}
                {{ renderInlineList("Avg Rating", summary.average|round(1))}}
            {% endif %}     
        </dl>
    </div>
</div>
        <br>
{% endblock %}

{% block content_medium %}

        {% if reviews | length > 0 %}
            <div id = "reviews">
                    {%for review in reviews %}
                        {{render_review(review, current_user)}}
                        <br>
                    {% endfor %}
            </div>

            {{pagination(pag_urls)}}

        {% endif %}
        
{% endblock %}


{% block content_wide %}


{% endblock %}

{% block modal %}

<modal-form-wrapper
modal_id="message-modal"
:form_presets="form_presets"
:url="urls.send_message"
title="Send Message:">
    <template v-slot:default="fp">
        <form-usermessage
            form_id="usermessage_form"
            :form_presets="fp.form_presets"
            :reset_form_values="fp.reset_form_values"
            :set_form_values="fp.set_form_values"
            :url="fp.url"
            @form_is_set="fp.mark_form_set"
            @form_is_reset="fp.mark_form_reset"
            @form_is_submitted="fp.do_hide_modal">
        </form-usermessage>
    </template>
</modal-form-wrapper>

    {% if modal_open %}
        <script>$(window).on('load', function(){
            $("#modal_id").modal("show");
        });
        </script>
    {% endif %}

    {% if form %}
        {{modal_render(form, modal_title, action="/userupdate")}}
    {% endif %}


    {% if pword_open %}
        <script>$(window).on('load', function(){
            $("#modal_password").modal("show");
        });
        </script>
    {% endif %}    

    {% if pform %}
        {{modal_render(pform, modal_title_2, action="/passwordupdate", modalID="modal_password")}}
    {% endif %}


{% endblock%}

{% block jsScripts %}


<script>
    let csrf = "{{ csrf_token() }}"
</script>

<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>


{% endblock %}
