{% extends "single_column.html" %}
{% from "macros.html" import form_render %}

{% block full %}
    <div class = "d-flex flex-row text-light">
        <div class = "p-4 display-3 flex-grow-1">Ask a Neighbor</div>
        <div class = "p-5 lead flex-grow-1 align-self-center">Service reviews from those you know best.  Easily find the
        electricians, plumbers and other providers that are recommended by your neighbors and friends.</div>
    </div>
    <br>
{% endblock %}

{% block content_narrow %}
        <h3>Sign In</h3>
        <form action="/login" method="POST" novalidate>
            {{ form_render(form) }}             
        </form>
        <br>
        <a href="{{url_for('auth.register')}}">Click to sign up for an account.</a>
        <br>
        <a href=" {{url_for('auth.password_reset_request') }}">Click to request password reset</a>
        {% endblock %}

