/* Global */

.container-fluid {
  padding: 0;
}
.container {
  padding: 100px;

}

/* Utility */
.italic{
  font-style: italic;
}
.inline{
  display:inline;
}

/* Components */
  /* Card - reviews and business profiles */
  .card{
    background-color: #f2f2f2;
  }

  .card-header{
    background-color:#003366;
    color: white;
  }
  .card-header-item{
    color: white;
  }
  .card-item{
    background-color: #f2f2f2
  }
  .card-star{
    color:maroon;
  }
  .card-thumbnail{
    height: 100px;
    width: auto;
  }

  /* Forms  */
  .form-toggle-alert {
    color: red;
  }
    /* jquery autocomplete */
    .ui-autocomplete {
      position: absolute;
      cursor: default;
      z-index:3000 !important;
    }

  /* Messages */
  .message-read{
  margin-bottom: 3px;
  }
  #message-read-body{
    white-space: pre-wrap;
  }
  .folder-message-body{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .folder-header{
    background-color: #003366;
    color:white;
  }

  /* Welcome Page */
  .welcome {
    background-color: #003366;
    color: white
  }

  /* Map */
  #mapContainer {
    height: 600px;
    width: 100%;
  }
  .mapboxgl-popup {
    max-width: 200px;
  }
  
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
  .map-popup-row{
    background-color: transparent;
  }




