{% extends "/layout/sub/single_column.html" %}

{% from "/macros/form.html" import form_render %}

{% block content_narrow %}
    <p>I started Ask Your Peeps as a class project for 
        <a href="https://www.edx.org/course/cs50s-introduction-to-computer-science">
            Harvard's free online intro to computer science class</a>.
    </p>

    <p>On my HOA’s facebook page, I noticed that our neighbors routinely asked
        the same questions over and over again (i.e. Which plumber or 
        electrician do you recommend?  Who do you recommend as a baby or pet sitter?).        
        With websites like Yelp, Angie’s List, or Google Maps, where its
        easy to look up 4 or 5 star rated providers, this would seem unnecessary.
    </p>
    What were people looking for that these sites couldn't provide?  I believe
    the answer is trust.  Who provided the reviews?  Were they compensated to 
    provide a good review?  Are they a serial complainer or do they give 5 stars
     to everything?
    </p>
     
    <p>Asking your friends or neighbors is one solution for this problem.  You 
        know exactly who is giving the recommendation and if you know them well,
         you know whether you can trust them.  The problem with this however is 
         that it is inefficient and loses a lot of great information.  Ask Your 
         Peeps seeks to solve this problem by providing increased transparency
          in the source of reviews.  We allow a user to filter reviews to only 
          include businesses reviewed by their social circle (i.e. friends or 
          members of groups to which they belong to).  
          For reviews done by members of a user's social circle, we also show the
           full name of the person providing the review and ability to see their
            other reviews.
        </p>
        
    <p>This is still very much a work in progress.  I hope that you find Ask
        You Peeps to be useful.  Please don’t hesitate to send any suggestions
        or feedback that you have.
    </p>
        
    <p>Cheers,<br>
        Doug</p>
            
{% endblock %}




