{% extends "/layout/email" %}

{% block body %}
<p>{{friend.first_name}} {{friend.last_name}} would like to be friends with you on Ask Your Peeps.</p>
<br>
<p>To verify the request, please click on the below link.</p>
<p><a href="{{ url_for('relationship.friend_verify', token=token, _external=True) }}">Click here to verify</a></p>
<br>
<p>Alternatively, you can paste the below link into your web browser.</p>
<p>{{ url_for('relationship.friend_verify', token=token, _external=True) }}</p>
<br>
{% endblock %}