{% extends "single_column.html" %}
{% from "macros.html" import field_render, form_render, render_provider, pagination %}


{% block full %}{%endblock%}

  
{% block content_narrow %}
        <h3>Search for Provider</h3>
        <form action="/search" method="get", id="providersearch">
{#            {{form.hidden_tag()}} #}
            {{form.hidden_tag()}}
            {{field_render(form.sector)}}
            {{field_render(form.category)}}
            {{field_render(form.city)}}
            {{field_render(form.state)}}
            <fieldset class="form-group">
                <legend class="col-form-label mx-auto">Check to filter by:</legend>
                    {{field_render(form.friends_only)}}
                    {{field_render(form.groups_only)}}
            </fieldset>
            {{field_render(form.submit)}}
        </form>
        <br>
{% endblock %}  

{% block content_wide %}
        {%for provider in providers %}
            {{render_provider(provider, filter)}}
            <br>
        {% endfor %}
        {% if pag_urls %}
            {{ pagination(pag_urls) }}
        {% endif %}

{% endblock %}  


