{% extends "single_column.html" %}
{% from "macros.html" import field_render, form_render, render_provider, pagination, render_provider_alt %}


{% block full %}{%endblock%}

  
{% block content_narrow_form %}
    <div class="row">
    <h3>Search for Business</h3>
        <ul class="nav">
            <a class="nav-link" href="{{url_for('main.provider_add')}}">(Add new provider)</a>
        </ul>
    </div>

    <form action="{{url_for('main.search')}}" method="get", id="providersearch">
        {{field_render(form.location)}}
        <div hidden="true" class = "form-group row" id="manual_location_div">
            <div class = "col">
                {{ form.manual_location.label(hidden=true, class_="col-form-label") }}
                {{ form.manual_location(hidden=true, class_="form-control") }}
            </div>
        </div>
        {{ form.hidden_tag(form.gpsLat, form.gpsLong) }}
        {{field_render(form.sector)}}
        {{field_render(form.category)}}
        {{field_render(form.name)}}
        <!-- form filters -->
        <fieldset class="form-group">
            <legend class="col-form-label">Check to filter by:</legend>
            <div class="form-group row mx-4">
                <div class="col">
                {{form.reviewed_filter(class_="form-check-input")}}
                {{form.reviewed_filter.label(class_="form-check-label")}}
                </div>
            </div>
            <div class="form-group row mx-4">
                <div class="col">
                {{form.friends_filter(class_="form-check-input")}}
                {{form.friends_filter.label(class_="form-check-label")}}
                </div>
            </div>
            <div class="form-group row mx-4">
                <div class="col">
                {{form.groups_filter(class_="form-check-input")}}
                {{form.groups_filter.label(class_="form-check-label")}}
                </div>
            </div>
        </fieldset>
        <!-- form sorts -->
        {{field_render(form.sort)}}
        {{field_render(form.submit)}}
    </form>
    
    <br>
{% endblock %}  

{% block content_medium %}

    {% if providers and providers != none %}
        <div id="businessList">
            <div class="row justify-content-end mx-2">
                <button class="btn btn-link" id="viewOnMap" type="button">View on Map</button>
            </div>
            {%for provider in providers %}
                {{render_provider_alt(provider, reviewFilter)}}
                <br>
            {% endfor %}
        </div>

        <div hidden id="mapView">
            <div class="row justify-content-end mx-2">
                <button class="btn btn-link" id="viewList" type="button">View List</button>
            </div>
            <div id="viewDiv"> 
                <!-- <p> where map should go</p>     -->
            </div>
        </div>   

    {% endif %}
    
    
    {% if pag_urls %}
        {{ pagination(pag_urls) }}
    {% endif %}    
    
{% endblock %} 
        
{% block content_wide %}

{% endblock %}

{% block jsScripts %}



<script> 


    let url = "{{ url_for('main.providerAutocomplete') }}";

    {% if locationDict and providersDict %}

    let searchHome = '{{ locationDict }}';
    searchHome = JSON.parse(searchHome);
    var providersDict = '{{ providersDict }}';
    let searchResults = JSON.parse(providersDict);
    
    {% endif %}


</script>


{% endblock %}


