{% extends "layout.html" %}

{% block title %} {{ super() }} {% endblock %}

{% block main %}

    <div class = "d-flex flex-row text-light">
        <div class = "p-4 display-3 flex-grow-1">Ask a Neighbor</div>
        <div class = "p-5 lead flex-grow-1 align-self-center">Service reviews from those you know best.  Easily find the
        electricians, plumbers and other providers that are recommended by your neighbors and friends.</div>
    </div>

    <!-- div element for map -->
    <div id = "map"></div>

{% endblock %}