{% from "macros.html" import Navlink, Navdropdown %}

<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

        <!-- Bootstrap CSS -->

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" rel ="stylesheet">

        <!-- My own CSS -->
        <link href="{{url_for('static', filename='styles.css')}}" rel="stylesheet"/>

        <!-- Javascript for bootstrap -->
        <script  src="https://code.jquery.com/jquery-3.3.1.js"  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        <!-- My own Javascript -->
        <script type="text/javascript" src="{{url_for('static', filename='scripts.js')}}"></script>

        <!-- https://api.jqueryui.com/autocomplete/-->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <!-- link to include icons for star ratings -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <!-- link to ArcGis map API -->
        <link rel="stylesheet" href="https://js.arcgis.com/4.12/esri/themes/light/main.css">
        <script src="https://js.arcgis.com/4.12/"></script>

        <!-- link to handlebars CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.js"></script>        

        {% block title %}<title> Ask Your Peeps: {{title}} </title>{% endblock %}

    </head>

    <body>

        <nav class="navbar navbar-expand-sm navbar-light bg-light border">
            <a class="navbar-brand h1" href="/">Ask Your Peeps</a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ml-auto mt-2">
                    {% if current_user.is_authenticated %}
                        {{ Navlink('main.index', 'Search') }}
                        {{ Navlink('main.user', 'Profile', username=current_user.username)}}
                        {{ Navlink('relationship.network_friends', 'Friends')}}
                        {{ Navlink('relationship.network_groups', 'Groups')}}

                        {% set msg_view = 'main.view_messages' %}
                        {% if new_message_count and new_message_count > 0 %}
                            {% set msg_count_vis = "visible" %}
                        {% else %}
                            {% set msg_count_vis = "hidden" %}
                        {% endif %}

                        <li class="nav-item {% if request.endpoint != msg_view %}
                        {% else %} active {% endif %}">
                            <a class="nav-link" href="{{ url_for(msg_view, folder='inbox') }}">Messages
                            <span id="message_count" class="badge badge-primary" style="visibility: {{ msg_count_vis }};">{{ new_message_count }}</span>
                            </a>
                        </li>
                        {{ Navlink('auth.logout', 'Logout') }}

                    {% else %}
                        {{ Navlink('auth.register', 'Register') }}
                    {% endif %}
                </ul>
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {% for message in get_flashed_messages() %}
                       {{ message }}
                       <br>
                    {% endfor %}
                </div>
            </header>
        {% endif %}

        <main class="container-fluid">
        {% block main %} {% endblock %}

        </main>

        {%block jsScripts %} {% endblock %}

        <br>
        <br>

        <footer class="bg-light border fixed-bottom">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('admin.about')}}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('admin.contactMessage')}}">Contact us</a>
                </li>
            </ul>
        </footer>
    </body>

</html>
