
<!--Macro to render row-->
{% macro field_render(field, classAdjust="", boolClass="form-check-input", boolLabel="form-check-label", labelClass="col-form-label", fieldClass="form-control",
 buttonClass="btn btn-primary btn-block submit", fileClass="form-control-file",
  radioLabelClass="form-check-label", radioInputClass="form-check-input", 
  radioClass="form-check") %}
  
    <div class="form-group row">
        <div class="col">
            {% if field.type == "FormField" %}
                {{form_render(field, classAdjust)}}
            {% elif field.type == "SubmitField" %}
                {{field(class_=(buttonClass))}}
                <!-- {{field.render_kw}} -->
            {% elif field.type == "RadioField" %}
                <legend class={{labelClass}}>{{field.name.capitalize()}}</legend>
                {% if field.flags.optional %}
                    <span class = "small italic"> optional</span>
                {%endif %}
                {% for subfield in field %}
                    <div class={{radioClass}}>
                        {{subfield(class_=radioInputClass + " " + classAdjust)}}
                        <!-- {{subfield.render_kw}} -->
                        {{subfield.label(class_=radioLabelClass)}}
                    </div>
                {% endfor %}
            {% elif field.type == "FileField" or field.type == "MultipleFileField" %}
                {{field.label(class_=labelClass)}}
                {% if field.flags.optional %}
                    <span class = "small italic"> optional</span>
                {%endif %}
                {{field(class_=fileClass + " " + classAdjust)}}
                <!-- {{field.render_kw}} -->
            {% elif field.type == "BooleanField" %}
                    {{field(class_=boolClass + " " + classAdjust)}}
                    <!-- {{field.render_kw}} -->
                    {{field.label(class_=boolLabel)}}
                    {% if field.flags.optional %}
                        <span class = "small italic"> optional</span>
                    {%endif %}
            {%else%}
                {{field.label(class_=labelClass)}}
                {% if field.flags.optional %}
                    <span class = "small italic"> optional</span>
                {%endif %}
                {{field(class_=fieldClass + " " + classAdjust)}}
                <!-- {{field.render_kw}} -->
            {% endif %}
            {{render_errors(field)}}


        </div>
    </div>
{% endmacro %}

{% macro render_errors(field) %}
    {% if field.errors|length > 0 %}
        <span style="color:red;">{{field.errors}}</span>
    {% endif %}
    {% if field.errors|length == 1 %}
        <span style="color:red;">{{field.errors}}</span>
    {% else %}
        {% for error in field.errors %}
            <span style="color:red;">{{error}}</span>
        {% endfor %}
    {% endif %}
{% endmacro %}

<!-- Macro to render form field in line, without creating new row. -->
{% macro field_render_inline(field, classAdjust="", boolClass="form-check-input", boolLabel="form-check-label", labelClass="col-form-label", fieldClass="form-control",
 buttonClass="btn btn-primary btn-block submit", fileClass="form-control-file",
  radioLabelClass="form-check-label", radioInputClass="form-check-input", 
  radioClass="form-check" ) %}
  
        <div class="col">
            {% if field.type == "FormField" %}
                {{form_render(field, classAdjust)}}
            {% elif field.type == "SubmitField" %}
                {{field(class_=(buttonClass))}}
            {% elif field.type == "RadioField" %}
                <legend class={{labelClass}}>{{field.name.capitalize()}}</legend>
                {% for subfield in field %}
                    <div class={{radioClass}}>
                        {{subfield(class_=radioInputClass + " " + classAdjust)}}
                        {{subfield.label(class_=radioLabelClass)}}
                    </div>
                {% endfor %}
            {% elif field.type == "FileField" or field.type == "MultipleFileField" %}
                {{field.label(class_=labelClass)}}
                {{field(class_=fileClass + " " + classAdjust)}}
            {% elif field.type == "BooleanField" %}
            <div class="row">
                    {{field(class_=boolClass + " " + classAdjust)}}
                    {{field.label(class_=boolLabel)}}
            </div>
            {%else%}

                {{field.label(class_=labelClass)}}
                {{field(class_=fieldClass + " " + classAdjust)}}

            {% endif %}
            {% if field.errors|length > 0 %}
                <span style="color:red;">{{field.errors}}</span>
            {% endif %}

            {# {% if field.errors|length == 1 %}
                <span style="color:red;">{{field.errors}}</span>
                {% else %}
                {% for error in field.errors %}
                    <span style="color:red;">{{error}}</span>
                {% endfor %}
            {% endif %} #}
        </div>
{% endmacro %}

{% macro field_row_render(field, classAdjust="", boolClass="form-check-input", boolLabel="form-check-label", labelClass="col-form-label", fieldClass="form-control",
 buttonClass="btn btn-primary btn-block submit", fileClass="form-control-file",
  radioLabelClass="form-check-label", radioInputClass="form-check-input", 
  radioClass="form-check" ) %}
  
            {% if field.type == "FormField" %}
                {{form_render(field, classAdjust)}}
            {% elif field.type == "SubmitField" %}
                {{field(class_=(buttonClass))}}
            {% elif field.type == "RadioField" %}
                <legend class={{labelClass}}>{{field.name.capitalize()}}</legend>
                {% for subfield in field %}
                    <div class={{radioClass}}>
                        {{subfield(class_=radioInputClass + " " + classAdjust)}}
                        {{subfield.label(class_=radioLabelClass)}}
                    </div>
                {% endfor %}
            {% elif field.type == "FileField" or field.type == "MultipleFileField" %}
                {{field.label(class_=labelClass)}}
                {{field(class_=fileClass + " " + classAdjust)}}
            {% elif field.type == "BooleanField" %}
                    {{field(class_=boolClass + " " + classAdjust)}}
                    {{field.label(class_=boolLabel)}}
            {%else%}
                <div class="col">
                    {{field.label(class_=labelClass)}}
                </div>
                <div class="col">
                    {{field(class_=fieldClass + " " + classAdjust)}}
                </div>
            {% endif %}
            {% for error in field.errors %}
                <span style="color:red;">{{error}}</span>
            {% endfor %}
{% endmacro %}
<!--render form, calls render_field
    form: form to be render
    classAdjust: adjustment to field class specified in form_render.
-->
{% macro form_render(form, classAdjust="") %}
    {{form.hidden_tag()}}
    {% for field in form if (field.widget.input_type != "hidden")%}
        {{field_render(field, classAdjust)}}
    {% endfor %}
{% endmacro %}

{% macro modal_render(form, modal_title, action="", modalID="modal_id", classAdjust=" modalinput", submitAdjust="") %}
<!-- Renders modal form.-->
<!-- Inputs: form object, modal id, class adjustment - used by javascript to select modal data-->
    <div class="modal" id={{modalID}} tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <form id = "modal_form_group" action="{{action}}" method="POST">
                    {{form.hidden_tag()}}
                    <div class="modal-header">
                        <h5 class="modal-title">{{modal_title}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body px-5">
                        {% for field in form if field.widget.input_type != "hidden" and field.type != "SubmitField"%}
                        {{field_render(field, classAdjust)}}
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        {{form.submit(class_=("btn btn-primary btn-block-submit submit " + submitAdjust))}}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endmacro %}                   

{% macro modal_render_objectlist(objectlist, attributes, modal_title, action="", modalID="modal_id", classAdjust=" modalinput", submitAdjust="") %}
<!-- Renders modal list-->
<!-- Inputs: form object, modal id, class adjustment - used by javascript to select modal data-->
    <div class="modal" id={{modalID}} tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">{{modal_title}}</h3>
                </div>
                <div class="modal-body px-5">
                    <ul>
                        {% for item in objectlist %}
                        <li>
                            {% for attribute in attributes %}
                                {{item|attr(attribute)}}
                            {% endfor %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}  



{% macro renderListLine(value, label)%}
    <div class="row">
        <li class="col-sm-6">{{label}}</dt>
        <li class="col-sm-6">{{value}}</dd>
    </div>
{% endmacro%}

{% macro renderInlineList(label, value)%}
        <dt class="col-4 text-left">{{label}}:</dt>
        <dd class="col-8 text-right">{{value}}</dd>                
{% endmacro%}

{% macro renderList(classAdjust) %}
        <ul class="list-group {{classAdjust[0]}}">
            {% for item in varargs if item != "" %}
            <li class="list-group-item border-0 {{classAdjust[1]}}">{{item}}</li>
            {% endfor %}
        </ul>
{% endmacro%}

{% macro star_rating(rating) %}
<!-- Converts numerical star rating to html inline list of stars-->
    <li class="list-inline-item">
        {#-- convert rating to stars #}
        {% set var = (rating*100)|int %}
        {% set ns = namespace(var = (rating*100)|int) %}
        {% for num in range(var,75,-100) %}
            <i class="fas fa-star star-full"></i>
            {% set ns.var = ns.var-100 %}
        {% endfor %}
        {% if ns.var >25 and ns.var <=75 %}
            <i class="fas fa-star-half-alt star-half"></i>
        {% endif %}
    </li>
{% endmacro %}

{% macro cost_rating(rating) %}
<!-- Converts numerical cost rating to html inline list of dollar signs-->
    <li class="list-inline-item">
        {#-- convert rating to stars #}
        {% set var = (rating*100)|int %}
        {% set ns = namespace(var = (rating*100)|int) %}
        {% for num in range(var,50,-100) %}
            <i class="fas fa-dollar-sign"></i>
            {% set ns.var = ns.var-100 %}
        {% endfor %}
    </li>
{% endmacro %}

{% macro render_provider(provider, filter) %}
<!-- Renders provider card. -->
<!-- Input: provider object -->
    {% if 'y' in filter.values() %}
        {% set provider, average, cost, count = provider %}
    {% else %}
        {% set average = provider.average_rating %}
        {% set cost = provider.average_cost %}
        {% set count = provider.review_count %}
    {% endif %}
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-7 col-md-8">
                    {% if provider.name not in request.view_args.values() %}
                    <h4><a class="prov-link" href="{{url_for('main.provider', name=provider.name, id=provider.id, **filter)}}">{{provider.name}}</a></h4>
                    {% else %}
                    <h4>{{provider.name}}</h4>
                    {% endif %}
                </div>
                <div class="col-5 col-md-4">
                    <ul class="nav justify-content-end">
                        <a class="prov-link nav-link" href="{{ url_for('main.review', name=provider.name, id=provider.id) }}">
                        Add Review</a>
                    </ul>
                </div>
            </div>    
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6 p-3">
                    <ul class="list-unstyled">
                        <li>Category: {{ provider.categories|map(attribute='name')|join(', ') }}</li>
                        <li>
                            {% if count > 0 %}
                            <ul class="list-inline">
                                <li class="list-inline-item">{{average}}</li>
                                <li class="list-inline-item">{{star_rating(average)}}</li>
                                <li class="list-inline-item">({{count}})</li>                                    
                            </ul>
                            {% else %}
                            No ratings
                            {% endif %}
                        </li>
                        <li>
                            {% if count > 0 %}
                            <ul class="list-inline">
                                <li class="list-inline-item">{{cost}}</li>
                                <li class="list-inline-item">{{cost_rating(cost)}}</li>                                    
                            </ul>                           
                            {% endif %}                            
                        </li>
                    </ul>
                </div>
                <div class="col-6 p-3">
                    <ul class="list-unstyled">
                        <li>{{provider.address.line1}}</li>
                        <li>{{provider.address.line2}}</li>
                        <li>{{"%s, %s %s"|format(provider.address.city, provider.address.state.state_short, provider.address.zip)}}</li>
                        <li>{{'(%s) %s-%s'|format(provider.telephone[0:3],provider.telephone[3:6], provider.telephone[6:10])}}</li>
                        <li>{{provider.email}}
                        <li>{{provider.website}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
{% endmacro %}         

{% macro render_review(review, current_user, bizname=true) %}
<!-- render review card.  -->
<!-- Inputs: review and user object. bizname determines if bizname in header-->
<div class="card">
        <div class="card-header">
            {% if bizname == true %}
                <h4>
                    <a href='{{url_for("main.provider", name=review.provider.name,
                                       id=review.provider.id)}}'>
                        {{review.provider.name}}
                    </a>: {{review.title}}</h4>
            {% else %}
                <h4>{{review.title}}</h4>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-5 px-3">
                    <ul class="list-unstyled">
                        {% set common_groups = review.user.groups|select('in', current_user.groups)|list %}  
                        {% set related = review.user in current_user.friends or review.user_id == current_user.id or common_groups|length > 0 %}
                        {% if related %}
                            <li>Reviewer: <a href="{{url_for('main.user', username=review.user.username)}}">
                            {{"%s %s"|format(review.user.first_name, review.user.last_name)}}</a></li>
                        {% else %}
                            <li>Reviewer: {{review.user.username}}</li>
                        {% endif %}
                        {% if review.user_id == current_user.id %}
                            <li>Relationship: Self</li>
                        {% else %}
                            <li>Relationship: </li>
                                <ul>
                                    <li>Common Groups: {% if common_groups|length > 0 %}
                                    {{ common_groups|map(attribute='name')|join(', ') }}
                                    {% else %}
                                    None
                                    {% endif %}
                                    </li>
                                    <li>Friends: {% if review.user in current_user.friends %} Yes {% else %} No {% endif %}</li>
                                </ul>
                        {% endif %}
                        <li>
                            <ul class="list-inline">
                                <li class="list-inline-item">Rating: </li>
                                {{star_rating(review.rating)}}
                            </ul>
                        </li>
                        <li>
                            <ul class="list-inline">
                                <li class="list-inline-item">Cost: </li>
                                {{cost_rating(review.cost)}}
                            </ul>
                        </li>
                        <li>Service Description: {{review.service_description|replace(None, 'Not Provided')}}</li>
                        <li>Review Date: {{'%s-%s-%s'|format(review.timestamp.month, review.timestamp.day, review.timestamp.year)}}</li>
                        <li>Service Date: {{ 'Not provided' if review.service_date == None else '%s-%s-%s'|format(review.service_date.month, review.service_date.day, review.service_date.year)}}</li>
                    </ul>
                </div>
                <div class="col-12 col-md-7 px-3">
                    <ul class="list-unstyled">
                        <li>Comments: {{review.comments|replace(None,' Not provided')}}</li>
                    </ul>
                </div>
            <div class="row">
                <div class="col-12 px-3">
                    {% for image in review.pictures %}
                    <img src="{{url_for('main.download_file', id=review.user.id, filename=image.thumb)}}" alt="" class="thumbnail">
                    {%endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro Navlink(link_endpoint, name) %}
    {% if request.endpoint is none %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for(link_endpoint, **kwargs) }}">{{name}}</a></li>
    {% elif request.endpoint == link_endpoint %}
        <li class="active nav-item"><a class="nav-link" href="{{ url_for(link_endpoint, **kwargs) }}">{{name}}</a></li>
    {%  else %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for(link_endpoint, **kwargs) }}">{{name}}</a></li>
    {% endif %}
{% endmacro %}  

{% macro Navdropdown(dropdownname, dropdownlinks) %}
    {% set dropdownclass = "nav-item dropdown" %}
    {% if request.endpoint and dropdownname|lower in request.endpoint %}
        {% set dropdownclass = dropdownclass|join(' active') %}
    {% endif %}
    <li class="{{dropdownclass}}">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropDownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{dropdownname}}</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
        {% for endpoint, name in dropdownlinks %}
            {% if request.endpoint == endpoint %}
                {% set dropdownclass = "dropdown-item active" %}
            {% else %}
                {% set dropdownclass = "dropdown-item" %}
            {% endif %}
            <a class="{{dropdownclass}}" href="{{url_for(endpoint) }}">{{name}}</a>
        {% endfor %}
        </div>
    </li>
{% endmacro %}

{% macro pagination(pag_urls) %}

    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if pag_urls['prev'] %}
                <li class="page-item"><a class="page-link" href="{{pag_urls['prev']}}">Previous</a></li>
            {% endif %}
            {% for url in pag_urls['pages'] %}
                <li class="page-item"><a class="page-link" href="{{url[1]}}">{{url[0]}}</a></li>
            {% endfor %}
            {% if pag_urls['next'] %}
                <li class="page-item"><a class="page-link" href="{{pag_urls['next']}}">Next</a></li>
            {% endif %}
            </ul>
    </nav>

{% endmacro %}
