{% extends "single_column.html" %}
{% from "macros.html" import form_render, pagination %}

{% block content_narrow_form %}

{% endblock %}

{% block content_wide %}
<div id="inbox">
    <div class="row">
        <table id="messages" class="table table-hover">
            <thead>
                <tr>
                    <th class="col-0" scope="col"></th>
                    <th class="col-0" hidden scope = "col"></th>
                    <th class="col-0" scope="col">Time Sent</th>
                    <th class="col-0" scope="col">From</th>
                    <th class="col-0" scope="col">Subject</th>
                    <th class="col-7" scope="col">Body</th>
                </tr>
            </thead>
            <tbody>
                {%for message in messages %}
                <tr class="clickable-row">
                    <td class="col-0"><input type="checkbox"></td>
                    <td class="inbox_item inbox_id col-0" hidden>{{message.id}}</td>
                    {% if message.timestamp|date == date_today %}
                    <td class="inbox_item inbox_timestamp col-0">{{message.timestamp | time }}</td>
                    {% else %}
                    <td class="inbox_item inbox_timestamp col-0">{{message.timestamp | date }}</td>
                    {% endif %}
                    <td class="inbox_item inbox_sender col-0">{{message.sender.full_name}}</td>
                    <td class="inbox_item inbox_subject col-0">{{message.subject}}</td>
                    <td class="inbox_item inbox_body col-7">{{message.body}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>    
    </div>
    {{pagination(pag_urls)}}
</div>


<div id="message_read" hidden>
    <h3>Message</h3>
    <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a id="back2inbox" href="" >Inbox</a> 
            </li>
        </ul>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" id="read_prev" href="">Previous</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="read_next" href="" >Next</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" id="read_reply" href="">Reply</a>
            </li>
        </ul>
    </nav>
    <br>
    <div class="row justify-content-between" id="msg_read_header">
        <div class="col-8">
            <p class="msg_read" id="msg_read_sender">From: </p>
            <p class="msg_read" id="msg_read_subject">Subject: </p>
        </div>
        <div class="col-3">
            <p class="msg_read" id="msg_read_timestamp"></p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <p class="msg_read" id="msg_read_body"></p>
        </div>
    </div>

</div>

<div id="message_send" hidden>
    <h3>Message</h3>
    <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a id="back2message_read" href="" >Back</a> 
            </li>
        </ul>
    </nav>
    <form action="" method="POST" id="message_send_form">
        {{  form_render(new_message) }}
    </form>
</div>


{% endblock %}


{% block jsScripts %}
<script>
let messages_list = {{ messages_json | safe }}
let inbox_rows;
let messages_list_index;
let msg;
let msg_id;

function load_message_read(msg) {
    document.getElementById("msg_read_sender").innerHTML = `From: ${msg.sender_full_name}`;
    document.getElementById("msg_read_timestamp").innerHTML = msg.timestamp;
    document.getElementById("msg_read_subject").innerHTML = `Subject: ${msg.subject}`
    document.getElementById("msg_read_body").innerHTML = msg.body;
}

function mark_as_read(msg_id){
    let parameters = {
        url: "{{url_for('main.message_update_read')}}",
        type: "POST",
        data: {id: msg_id},
        dataType: "json"
    };
    addcsrf();
    $.ajax(parameters).done(function(data){
    });
    messages_list.find(({id}) => id==msg_id).read = true;
    for (row of inbox_rows) {
        if (row.getElementsByClassName("inbox_id")[0].innerHTML == msg_id){
            for (let child of row.children){
                child.classList.remove("message_unread");
            }
            break;
        }
    }
}

function format_read_messages(inbox_rows){
    for (let row of inbox_rows){
        msg_id = row.getElementsByClassName("inbox_id")[0].innerHTML;
        read = (messages_list.find(({id}) => id == msg_id)).read;
        if (!read){
            for (let child of row.children){
                child.classList.add("message_unread");
            }
        }
    }
}

// <!-- TODO add reply and delete buttons -->
window.onload = function(){
    inbox_rows = document.getElementsByClassName("clickable-row");
    messages_list.forEach(element => {
        let d = new Date(element.timestamp);
        element.timestamp = d.toLocaleString('en-us', {'dateStyle':"long", timeStyle: "long"});
    });

    format_read_messages(inbox_rows);

    for (let row of inbox_rows){
        row.addEventListener('click', function(event){
            msg_id = row.getElementsByClassName("inbox_id")[0].innerHTML;
            messages_list_index = messages_list.findIndex(
                ({id}) => id == msg_id
                );
            msg = messages_list[messages_list_index];

            load_message_read(msg);
            toggle_visibility("inbox", "message_read")
            if (!msg.read){
                mark_as_read(msg.id);

            }

        });
    }
    document.getElementById("read_reply").addEventListener('click', function(event){
        event.preventDefault();
        document.getElementById("msg_new_recipient_id").value = msg.sender_id;
        document.getElementById("msg_new_conversation_id").value = msg.conversation_id
        document.getElementById("msg_new_recipient").value = msg.sender_full_name;
        document.getElementById("msg_new_subject").value = "Re: " + msg.subject
        document.getElementById("msg_new_body").value = 
                `\n\nOn ${msg.timestamp}, ${msg.sender_full_name} wrote:\n  ${msg.body}`;
        toggle_visibility('message_read', 'message_send');
    });

    document.getElementById("read_prev").addEventListener('click', function(event){
        event.preventDefault();
        if (messages_list_index > 0){
            messages_list_index -= 1;
            msg = messages_list[messages_list_index];
            load_message_read(msg);
            mark_as_read(msg.id);
        }
    });

    document.getElementById("read_next").addEventListener('click', function(event){
        event.preventDefault();
        if (messages_list_index < messages_list.length){
            messages_list_index += 1;
            msg = messages_list[messages_list_index];
            load_message_read(msg);
            mark_as_read(msg.id);
        }
    });

    document.getElementById("back2inbox").addEventListener('click', function(event){
        event.preventDefault();
        toggle_visibility('message_read', 'inbox')
        messages_list_index = null;
        msg = null;
        msg_id = null;
    });

    document.getElementById("back2message_read").addEventListener('click', function(event){
        event.preventDefault();
        toggle_visibility('message_send', 'message_read')
    });    

    document.getElementById("submit_msg").addEventListener("click", function(event){
        event.preventDefault();
        ajaxSend("{{url_for('main.send_message')}}",
                 "message_send_form");
    });

}
</script>

{% endblock %}
