{% extends "single_column.html" %}
{% from "macros.html" import form_render, pagination %}

{% block content_narrow_form %}

{% endblock %}

{% block content_wide %}

<nav class="navbar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Folders</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" id="nav_inbox" href='{{url_for("main.view_messages", folder="inbox")}}'>Inbox</a>
                <a class="dropdown-item" id="nav_sent" href='{{url_for("main.view_messages", folder="sent")}}'>Sent</a>
                <a class="dropdown-item" id="nav_archive" href='{{url_for("main.view_messages", folder="archive")}}'>Archive</a>
                <a class="dropdown-item" id="nav_trash" href='{{url_for("main.view_messages", folder="trash")}}'>Trash</a>
            </div>
        </li>
    </ul>

    <ul class="nav ml-auto justify-content-end">
        <li class="nav-item">
            <button type="button" class="action_move btn btn-link nav-link" id="inbox_delete">Delete</button>
        </li>
        <li>
            <button type="button" class="action_move btn btn-link nav-link" id="inbox_archive">Archive</button> 
        </li>
        <li class="nav-item">
            <button type="button" class="btn btn-link nav-link" id="inbox_new">New Message</button> 
        </li>
    </ul>
</nav>

<div class="container-fluid p-1" id="inbox">
    <div class="row">
        <table id="messages" class="table table-hover d-flex flex-column">
            <thead>
                <tr class="d-flex">
                    <th class="d-none d-md-block col-1" scope="col"><input id="select_all" type="checkbox"></th>
                    <th class="" hidden scope = "col"></th>
                    <th class="col-2" scope="col">From</th>
                    <th class="col-2" scope="col">Subject</th>
                    <th class="col-6" scope="col">Body</th>
                    <th class="col-1" scope="col">Time Sent</th>
                </tr>
            </thead>
            <tbody>
                {%for message in messages %}
                <tr class="clickable-row d-flex">
                    <th class="d-none d-md-block col-1" scope="row"><input class="select" type="checkbox"></td>
                    <td class="inbox_id" hidden>{{message.id}}</td>
                    <td class="col-2 clickable inbox_sender">{{message.sender.full_name}}</td>
                    <td class="col-2 clickable inbox_subject">{{message.subject}}</td>
                    <td class="col-6 clickable inbox_body">{{message.body}}</td>
                    <td class="col-1 clickable inbox_timestamp">{{message.timestamp}} GMT</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>    
    </div>
    {{pagination(pag_urls)}}
</div>


<div id="message_read" hidden>
    <h3>Message</h3>
    <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button type="button" class="back_navigate btn btn-link">back</button> 
            </li>
        </ul>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <button type="button" class="btn btn-link nav-link" id="read_prev">Previous</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-link nav-link" id="read_next">Next</ 
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-link nav-link" id="read_reply">Reply</button>
            </li>
        </ul>
    </nav>
    <br>
    <div class="row justify-content-between" id="msg_read_header">
        <div class="col-8">
            <p class="msg_read" id="msg_read_sender">From: </p>
            <p class="msg_read" id="msg_read_subject">Subject: </p>
        </div>
        <div class="col-3">
            <p class="msg_read" id="msg_read_timestamp"></p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <p class="msg_read" id="msg_read_body"></p>
        </div>
    </div>

</div>

<div id="message_send" hidden>
    <h3>Message</h3>
    <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button type="button" class="back_navigate btn btn-link">back</button> 
            </li>
        </ul>
    </nav>
    <form action="" method="POST" id="message_send_form">
        {{  form_render(new_message) }}
    </form>
</div>


{% endblock %}


{% block jsScripts %}
<script>

    let messages = {
        list: {{ messages_json | safe }},
        index: null,
        active: null,
        active_id: [],
        folder_rows: [],
        mark_as_read: mark_as_read,
        format_read: format_read,
        move: move_messages,
        reset_active: reset_active_message,
        next: read_next_message,
        previous: read_previous_message,
    }

    function mark_as_read(message_id=this.active.id){
        let parameters = {
            url: "{{url_for('main.message_update_read')}}",
            type: "POST",
            data: {id: message_id},
            dataType: "json",
            context: messages
        };
        addcsrf();
        $.ajax(parameters).done(function(data){
            if (data['status'] == "success"){
                messages.list.find( ({id}) => id == this.active.id).read = true;
                for (row of this.folder_rows) {
                    if (row.getElementsByClassName("inbox_id")[0].innerHTML == message_id){
                        for (let child of row.children){
                            child.classList.remove("message_unread");
                        }
                        break;
                    }
                }
            } else if (data['status'] == "failure") {
                console.log("failed to update message as read");
            }
        });
    }

    function format_read(){
        for (let row of this.folder_rows){
            let row_id = row.getElementsByClassName("inbox_id")[0].innerHTML;
            read = (this.list.find(({id}) => id == row_id)).read;
            if (!read){
                for (let child of row.children){
                    child.classList.add("message_unread");
                }
            }
        }
    }

    function move_messages(status){
        let url =  "{{url_for('main.move_message')}}";
        let form_data = {'message_id': this.active_id.toString(),
                        'status': status};
        post(url, form_data);
    }

    function reset_active_message(){
        this.index = null;
        this.active = null;
        this.active_id = [];    
    }

    function read_previous_message(){
        if (this.index > 0){
            this.index -= 1;
            this.active = this.list[this.index];
            load_message_read(this.active);
            this.mark_as_read();
        }
    }

    function read_next_message(){
        if (this.index < this.list.length){
            this.index += 1;
            this.active = this.list[this.index];
            load_message_read(this.active);
            this.mark_as_read();
        }
    }

    let page = {
        active: 'inbox',
        previous_pages: [],
        navigate_next: navigate_next,
        navigate_back: navigate_back
    }
    
    function navigate_next(next_page_id){
        toggle_visibility(next_page_id, this.active);
        this.previous_pages.push(this.active);
        this.active = next_page_id;
        toggle_move_visibility();
    }

    function navigate_back(previous_page_id){
        toggle_visibility(previous_page_id, this.active);
        this.active = previous_page_id;
        if (page.active == 'inbox' && document.querySelectorAll('input.select:checked').length == 0){
            messages.active_id = [];
        }
        toggle_move_visibility();
    }

    function select_all_rows(select_all){
        for (let row of messages.folder_rows){
            row.querySelector(".select").checked = select_all.checked;
        }
    }

    function toggle_move_visibility(){
        let display_status = (messages.active_id.length > 0 && page.active != 'message_send') ? "block" : "none";
        let links_to_hide = document.getElementsByClassName("action_move");
        for (let link of links_to_hide){
            link.style.display = display_status;
        }
    }

    function load_message_read(message) {
        document.getElementById("msg_read_sender").innerHTML = `From: ${message.sender_full_name}`;
        document.getElementById("msg_read_timestamp").innerHTML = message.timestamp;
        document.getElementById("msg_read_subject").innerHTML = `Subject: ${message.subject}`
        document.getElementById("msg_read_body").innerHTML = message.body;
    }


    function localize_inbox_datetimes(inbox_rows){
        let now = new Date()
        for (let row of inbox_rows){
            let element = row.getElementsByClassName("inbox_timestamp")[0]
            let row_date = new Date(row.getElementsByClassName("inbox_timestamp")[0].innerHTML)
            if (row_date.toDateString() == now.toDateString()){
                element.innerHTML = row_date.toLocaleString('en-us', {timeStyle: "short"})
            } else{
                element.innerHTML = row_date.toLocaleString('en-us', {dateStyle: "medium"})
            }
        }
    }

    function reply_to_message(event){
        document.getElementById("msg_new_recipient_id").value = messages.active.sender_id;
        document.getElementById("msg_new_conversation_id").value = messages.active.conversation_id
        document.getElementById("msg_new_recipient").value = messages.active.sender_full_name;
        if (messages.active.subject.startsWith("Re:")){
            document.getElementById("msg_new_subject").value = messages.active.subject
        } else {
        document.getElementById("msg_new_subject").value = `Re: ${messages.active.subject}`
        }
        document.getElementById("msg_new_body").value = 
                `\n\nOn ${messages.active.timestamp}, ${messages.active.sender_full_name} wrote:\n  ${messages.active.body}`;
        page.navigate_next('message_send');
    }


    function autocomplete_recipient_name(){
            let url = '{{ url_for("main.get_friends") }}';
            let selector_id = "#msg_new_recipient";
            let label_fields = ['full_name'];
            let value_field = "full_name";
            let value_field_id = "#msg_new_recipient_id"
            let filter_ids = [];
            let submit_id = "submit_msg";
            let validation_message = "Please choose a name from the list.";
            autocomplete_by_id(selector_id, url, label_fields, value_field, 
                            value_field_id, filter_ids, submit_id,
                            validation_message);
    }

    function update_active_ids(row){
        let cell = row.getElementsByClassName("inbox_id")[0]
        let id = cell.innerHTML;
        if (row.getElementsByTagName('input')[0].checked){
            messages.active_id.push(id);
        } else if (messages.active_id.includes(id)){
            messages.active_id = messages.active_id.filter( (element) => element != id);
        }
    }

window.onload = function(){
    messages.folder_rows = document.getElementsByClassName("clickable-row");
    if (messages.list.length > 0){
        messages.list.forEach(element => {
            let d = new Date(element.timestamp);
            element.timestamp = d.toLocaleString('en-us', {'dateStyle':"long", timeStyle: "long"});
        });
    }

    messages.format_read();
    localize_inbox_datetimes(messages.folder_rows)

    for (let row of messages.folder_rows){
        let clickable = row.getElementsByClassName("clickable");
        for (let element of clickable){
            element.addEventListener('click', function(event){
                messages.active_id = [row.getElementsByClassName("inbox_id")[0].innerHTML];
                messages.index = messages.list.findIndex(
                ({id}) => id == messages.active_id[0]
                );
                messages.active = messages.list[messages.index];
                load_message_read(messages.active);
                toggle_move_visibility();
                page.navigate_next('message_read');
                if (!messages.active.read){
                    messages.mark_as_read();
                }
            });
        }
        if (row != undefined){
            row.getElementsByTagName('input')[0].addEventListener('change', function(event){
                update_active_ids(row);
                toggle_move_visibility();
            });
        }
    }

    document.getElementById("read_reply").addEventListener('click', reply_to_message, false);

    document.getElementById("read_prev").addEventListener('click', (event)=>messages.previous(),false);

    document.getElementById("read_next").addEventListener('click', (event)=>messages.next(), false);

    document.getElementById("inbox_delete").addEventListener('click', function(event){
        let status = 'trash';
        move_messages(status);
    });

    document.getElementById("inbox_archive").addEventListener('click', function(event){
        let status = 'archive'
        move_messages(status);
    })

    let backlinks = document.getElementsByClassName("back_navigate");
    for (link of backlinks){
        link.addEventListener('click', function(event){
            let last = page.previous_pages.pop();
            page.navigate_back(last)
        });
    };
  
    document.getElementById("submit_msg").addEventListener("click", function(event){
        event.preventDefault();
        ajaxSend("{{url_for('main.send_message')}}",
                 "message_send_form");
        page.navigate_next('inbox');
    });

    document.getElementById("inbox_new").addEventListener("click", function(event){
        page.navigate_next('message_send')
        msg_new_recipient_id.readOnly = false;
        msg_new_recipient.readOnly = false;

        document.getElementById("message_send_form").reset();
        
        autocomplete_recipient_name();
    });

    let select_all = document.getElementById("select_all");
    select_all.addEventListener('change', function(event){
        select_all_rows(select_all);
        toggle_move_visibility();
    })
 
}
</script>

{% endblock %}
