{% extends "double_column.html" %}
{% from "macros.html" import form_render, field_render, modal_render %}

{% set active = 'network' %}

{% block content_left_top %}
    <!-- list of groups user belongs to -->
    <h3>Your Groups</h3>
    <ul>
        {% for group in current_user.groups %}
        <li>{{ group["name"] }}</li>
        {% endfor %}
    </ul>
    <br>
{% endblock %}

{% block content_right_top %}
    <h3> Your Friends</h3>
    <ul>
        {% for friend in current_user.friends %}
        <li> <a href="{{url_for('user', username=friend.username)}}"> {{friend["first_name"] + " " + friend["last_name"] }} </a></li>
        {% endfor %}
    </ul>
    <br>
{% endblock %}


{% block content_left_bottom %}
    <form action="/groupadd" method="post">
        {{form_render(GroupSearch)}}
        <a href="" data-toggle="modal" data-target="#modal_id">Create New Provider</a>
    </form>
{% endblock %}

{% block content_right_bottom %}
                            <form action="/friendadd" method="post">
                                {{form_render(FriendSearch)}}
                            </form>
{% endblock %}

{% block modal %}
    {{modal_render(GroupCreate)}}
{% endblock %}

