{% extends "layout.html" %}
{% from "macros.html" import renderListLine %}

{% block title %} Add Review {% endblock %}

{% block main %}
        <main class="container pt-5 ">

            <div id = "profile">
                <div class = "row justify-content-around">
                    <div class = "col-5 mx-auto search_grid_1">

                        <dl>
                            {{ renderListLine(user.first_name + " " + user.last_name, "Name")}}
                            {{ renderListLine(user.username, "Username")}}
                            {{ renderListLine(user.email, "Email")}}
                            <br>
                            {{ renderListLine(user.address.line1, "Street Address")}}
                            {{ renderListLine(user.address.line2, "cont'd")}}
                            {{ renderListLine(user.address.city, "City")}}
                            {{ renderListLine(user.address.state.name, "State")}}
                            {{ renderListLine(user.address.zip, "Zip Code")}}
                        </dl>
                    </div>
                </div>
                <br>
 

{% endblock %}

