{% extends "single_column.html" %}
{% from "macros.html" import render_provider, render_review, pagination, field_render_inline %}

{% block content_wide %}
    <form class="form-inline" action='{{url_for("main.provider", 
    name=provider[0].name, id=provider[0].id)}}' method="get">
        {{form.hidden_tag()}}
            <legend class="col-form-label">Applied Social Filter:</legend>
            <div class="form-check mb-2 mr-sm-2">
                {{form.friends_only(class_="form-check-input")}}
                {{form.friends_only.label(class_="form-check-label")}}
            </div>
            <div class="form-check mb-2 mr-sm-2">
                {{form.groups_only(class_="form-check-input")}}
                {{form.groups_only.label(class_="form-check-label")}}
            </div>           
            {{form.submit(class_="btn btn-primary submit mb-2")}}
    </form>
    <br>
    {{render_provider(provider, filter)}}
    <br>   
    
    {%for review in reviews %}
        {{render_review(review, current_user, false)}}
        <br>
    {% endfor %}

    {{pagination(pag_urls)}}

{% endblock %}
