{% extends "layout.html" %}
{% from "macros.html" import form_render, field_render %}
{% block title %} {{title}} {% endblock %}

{% block main %}
    <main class="container pt-5">
        <div class="row">
            <div class = "col-5 mx-auto search_grid_1">
                <form action="/review" method="post", id="review_form", enctype="multipart/form-data">
                    {{form.hidden_tag()}}
                    {{ field_render(form.category) }}
                    {{ field_render(form.name)}}
                    <a href="/provideradd">Add new provider</a>
                    {{field_render(form.rating)}}
                    {{field_render(form.description)}}
                    {{field_render(form.service_date)}}
                    {{field_render(form.comments)}}
                    {{field_render(form.picture)}}
                    {{field_render(form.submit)}}
                </form>
            </div>
        </div>
    </main>
{% endblock %}





