{% extends "layout.html" %}
{% from "macros.html" import star_rating, render_provider, render_review %}

{% block title %} {{ super() }} {% endblock %}

{% block main %}

    {% block full %}{% endblock %}

    <div class="row">
        <div class="col-5 mx-auto search_grid_1">
            {% block content_narrow %} {% endblock %}
        </div>
    </div>
    <div class="row">
            <div class="col-6 mx-auto search_grid_1">
                {% block content_medium %}
    
                {% endblock %}
            </div>
        </div>
    <div class="row">
        <div class="col-8 mx-auto search_grid_1">
            {% block content_wide %}

            {% endblock %}
        </div>
    </div>

    {%block modal %}
    {% endblock %}

{% endblock %}
