{% extends "single_column.html" %}
{% from "macros.html" import renderListLine, renderInlineListLine, render_review %}

{% block title %} {{ super() }} {% endblock %}

{% block content_narrow %}
    <h2>Profile Information</h3>
        <dl>
            {{ renderListLine(user.first_name + " " + user.last_name, "Name")}}
            {{ renderListLine(user.username, "Username")}}
            {{ renderListLine(user.email, "Email")}}
            {{ renderListLine(user.address.line1, "Street")}}
            {{ renderListLine(user.address.line2, "cont'd")}}
            {{ renderListLine(user.address.city, "City")}}
            {{ renderListLine(user.address.state.name, "State")}}
            {{ renderListLine(user.address.zip, "Zip Code")}}
        </dl>
        <br>
        <h2 class="center"> Reviews </h2>
        <dl>
            {{ renderListLine(reviews|length, "# of Reviews")}}
            {% if reviews|length > 0 %}
            {{ renderListLine((reviews|sum(attribute='rating')/reviews|length), "Average Rating")}}
            {% endif %}     
        </dl>
        <br>
{% endblock %}

{% block content_wide %}
        <div id = "reviews">
                {%for review in reviews %}
                    {{render_review(review, current_user)}}
                    <br>
                {% endfor %}
        </div>
{% endblock %}
